.game-container {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0)
}

h1 {
    color: #343a40;
    margin-bottom: 20px;
}


.game-board {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    align-items: center;
    /* overflow: hidden; */
}

.game-board-row {
    display: flex;
}

.restart {
    margin-top: 20px;
    width: 100px;
}

.square {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5em;
    font-weight: 700;
    color: #495057;
    background-color: #ffffff;
    border: 2px solid #ced4da;
    cursor: pointer;
    transition: background-color 0.2, transform 0.1s;
}

.square.selected {
    background-color: #ffe066;
}

.square:hover {
    background-color: #e9ecef;
    transform: scale(1.2);
}
