.lobby-page-wrapper {
    border: solid 2px #ccc;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 20px;
    background: linear-gradient(75deg, rgb(40, 43, 54) 0%, rgb(40, 43, 54) 50%, rgba(40, 43, 54, 0.8) 100%);
}

.game-section {
    border: solid 2px #ccc;
    width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chat-section {
    width: 450px;
    margin-left: 50px;
    background: #556775;
    border: solid 2px #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 1rem;

}

.btn {
    padding: 5px;
    min-width: 150px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

}

.chat-message-form {
    display: flex;
    width: 100%;
}

/* Chat Styling Refinement */
.chat-container {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    border: 2px solid #ddd;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    overflow-y: auto;
    /* overflow: hidden; */
    width: 100%;
    height: 650px;
}

.chat-header {
    padding: 12px;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    border-bottom: 1px solid #eee;
}

.message-wrapper {
    width: auto;
    flex-direction: column;
    align-items: flex-start;

}

.chat-window {
    padding: 12px;
    overflow-y: auto;
    height: 100%;
    flex-direction: column;


}

.message {
    display: flex;
    margin: 0;
    padding: 0;
    align-content: flex-start;
    text-align: left;
}

.message-self {
    color: rgb(0, 199, 192);
    flex-direction: column;
    text-align: right;
}

.message-opponent {
    color: rgb(255, 119, 119);
}


.message.message-system {
    flex-direction: column;
    text-align: center;
    font-size: 15px;
}


/* Input area */
.input-field {}

.input-field input {
    border: none;
}
